body
{
    font-family: 'Montserrat', sans-serif;
}

h1
{
    text-align: center;
    margin-bottom: 100px;
}

a
{
    text-decoration: none;
}

main
{

    display: grid;
  grid-template-columns: 800px 800px;
  grid-template-rows: 800px 800px;
  
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; */
}