body
{
  /* Asignamos la fuente, la cual es montserrat, y el padding y margin, los cuales estan al 0, para que la pagina este en pantalla completa */
  font-family: 'Montserrat', sans-serif;
  padding: 0%;
  margin: 0%;
}

.image1 {
  height: 100vh;
  width: 100%;

  background-image: url("/Assets/Index/empress.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.title
{
  padding-top: 50px;
  margin-top: 0px;
  font-size: 50px;
  color: #167C80;
  font-weight: bold;
}

.logo
{
  float:right;
}

.image2
{
 
  height: 100vh;
  width: 100%;

  background-image: url("/Assets/Index/libreta.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding-bottom: 60px;
}

nav
{ 
  margin-left: 60px;
  padding-bottom: 80px;
}

.main-nav
{
  margin-top: 0px;
  list-style: none; /* Elimina los puntitos de las listas */
}

.main-nav__item
{
  display: inline-flex;
  justify-content: center;
 
}

.main-nav__item a
{

  border-radius: 25px;
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 55px;  
  
  background-color:#167C80;
  text-decoration: none; /* Esta linea elimina el subrayado en los links */
}

.text
{
  text-align: center;
  font-size: 20px;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7), 1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.7); /* Establece el contorno utilizando sombras con colores más claros */
  white-space: pre-line;
}

.sectionfooter {
  left: 0;
  bottom: 12px;
  width: 100%;
  background: #167C80;
  padding-top: 60px;
}

/* Codigo del footer*/

footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

footer > img {
  margin-top: 10px;
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer {
  color: #ffffff;
}

footer.top {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (width < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: center;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}